@media screen and (max-width: 1199px) {
    .statics .shape-1 {
        width: 50%;
    }
    .statics .shape-2 {
        width: 50%;
    }
    .benefit .shape-3 {
        width: 50%;
    }
    .statics .shape-4 {
        width: 50%;
    }
    .benefit .shape-5 {
        width: 50%;
    }
    .author .shape-6 {
        left: 0;
        width: 50%;
    }
    .product__cover {
        height: 260px;
    }
    .product__bg {
        height: 1200px;
    }
}